<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- Название программы для обновления -->
		<add key="ProgramName" value="NameOfProgram"/>
		<!-- URL расположения релизов-->
		<add key="ReleaseUrl" value="https://codeload.github.com/ZakharovOpen/ProjectName/zip/refs/heads/main" />
		<!-- Расположение лог файлов-->
		<add key="LogsPath" value="C:\Program Files (x86)\OS_iikoTool" />
	</appSettings>
</configuration>